.contactTitle {
  position: relative;
  top: 470px;
}

.textContacts {
  position: relative;
  text-align: center;
}

.contact {
  position: relative;
  color: crimson;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 65px;
  font-family: "Crete Round", serif;
}

.contacttxt {
  position: relative;
  margin-top: 33px;
  display: inline;
}

.txtname {
  position: relative;
  right: 280px;
  overflow: visible;
  width: 457px;
  height: 25px;
  display: inline;
}

.txtEmail {
  overflow: visible;
  width: 452px;
  height: 25px;
  display: inline;
  position: relative;
  left: -17.5%;
}

.txtsubject {
  position: relative;
  top: 26px;
  width: 926px;
  height: 25px;
  display: inline;
}

.txtmassage {
  position: relative;
  top: 52px;
  margin: 0px;
  width: 927px;
  height: 219px;
  display: inline;
}

.linksHandle {
  position: relative;
  left: 74%;
  top: 48px;
  display: inline;
}

.socialLinks {
  position: absolute;
  background: url(../assets/Contact/scol.png);
  background-size: cover;
  height: 80px !important;
  width: 98px !important;
  display: inline;
}

.linkName {
  display: inline;
  margin-left: 120px;
  /* margin-top: -9px; */
  position: relative;
  font-size: 30px;
  top: 16px;
  color: #ea78ff;
  transform: scale(1.05);
}

.linkdin {
  position: absolute;
  background: url(../assets/Contact/link3.png);
  background-size: cover;
  height: 61px !important;
  width: 53px !important;
  top: 303%;
  right: 34%;
  display: inline;
}

.facebook {
  position: absolute;
  background: url(../assets/Contact/link1.png);
  background-size: cover;
  height: 56px !important;
  width: 66px !important;
  top: 677%;
  right: 32%;
  display: inline;
}

.twiter {
  position: absolute;
  background: url(../assets/Contact/link2.png);
  background-size: cover;
  height: 61px !important;
  width: 68px !important;
  top: 1037%;
  right: 32%;
  display: inline;
}

@media all and (max-device-width: 768px) and (min-device-width: 430px) {
  .txtEmail {
    overflow: visible;
    width: 455px;
    height: 25px;
    display: inline;
    position: relative;
    left: 3px;
    top: 10px;
  }

  .txtsubject {
    position: relative;
    top: 26px;
    width: 455px;
    height: 24px;
    left: 3px;
  }

  .txtmassage {
    position: relative;
    top: 52px;
    margin: 0px;
    width: 609px;
    height: 219px;
    left: 3px;
  }

  .linksHandle {
    position: relative;
    left: 65%;
  }
}

@media all and (max-device-width: 425px) and (min-device-width: 380px) {
  .txtEmail {
    overflow: visible;
    width: 455px;
    height: 25px;
    display: inline;
    position: relative;
    left: 3px;
    top: 10px;
  }

  .txtsubject {
    position: relative;
    top: 26px;
    width: 455px;
    left: 3px;
  }

  .txtmassage {
    position: relative;
    top: 51px;
    margin: 0px;
    width: 587px;
    left: 3px;
    height: 219px;
  }

  .linksHandle {
    position: relative;
    left: 63%;
  }
  
}


@media all and (max-device-width: 375px) and (min-device-width: 330px) {

  .txtEmail {
    overflow: visible;
    width: 455px;
    height: 25px;
    display: inline;
    position: relative;
    left: 3px;
    top: 10px;
  }

  .txtsubject {
    position: relative;
    top: 26px;
    width: 455px;
    left: 3px;
  }

  .txtmassage {
    position: relative;
    top: 51px;
    margin: 0px;
    width: 587px;
    left: 3px;
    height: 219px;
  }

  .linksHandle {
    position: relative;
    left: 63%;
  }

}