.hometext {
  color: #efaf00;
  position: relative;
  top: 11%;
}

.text1 {
  margin-top: 10%;
  font-size: 37px;
  margin-left: 3%;
  font-family: "Crete Round", serif;
}

.text2 {
  margin-top: 2%;
  font-size: 68px;
  margin-left: 3%;
  font-weight: 600;
  font-family: "Crete Round", serif;
}

.text3 {
  margin-top: 2%;
  font-size: 37px;
  margin-left: 3%;
  font-family: "Crete Round", serif;
}

.text4 {
  margin-top: 2%;
  font-size: 53px;
  font-weight: 600;
  margin-left: 3%;
  font-weight: bold;
  color: #2b12ff;
  font-family: "Crete Round", serif;
  text-transform: uppercase;
  height: 100%;
  width: 0;
  border-right: 2px solid red;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  80% {
    width: 0;
  }
  60%,
  70% {
    width: 80%;
  }
}

.background {
  background-color: #020b36;
  background-size: cover;
  height: 100vh;
}

.image {
  background: url("../assets/home/vidushaone.png");
  background-size: cover;
  height: 99vh;
  width: 35vw;
  position: relative;
  left: 13%;
}

/* .hFacebook > i{
 
}

.hTwiter {
  position: absolute;
  background: url(../assets/Contact/link2.png);
  background-size: cover;
  height: 61px !important;
  width: 68px !important;
  display: inline;
  left: 10%;
}

.hGithub {
  position: absolute;
  background: url(../assets/home/link4.png);
  background-size: cover;
  height: 45px !important;
  width: 64px !important;
  display: inline;
  left: 20%;
  top: 7px;
}

.hLinkdin {
  position: absolute;
  background: url(../assets/Contact/link3.png);
  background-size: cover;
  height: 61px !important;
  width: 53px !important;
  display: inline;
  left: 30%;
}

.linkHome {
  position: relative;
  position: relative;
  top: 21%;
  left: 2%;
  color: white;
}

.linkHome > a {
  width: 2000px;
  height: 200px;
  background-color: wite;
} */

.btnHome {
  position: relative;
  left: 3%;
  top: 102px;
  height: 65px;
  width: 207px;
  font-size: 25px;
  color: white;
  background: linear-gradient(45deg,#f06,#3cf);
  font-family: "Crete Round", serif;
  transition: ease-out 0.3s;
  border-radius: 23px;
}

.btnHome:hover {
  color: #ffffff;
  cursor: pointer;
  background: none;
  outline: none;
  border: 3px solid deepskyblue;
}

.linkHome > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg,#f06,#3cf);
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
  /* margin: 150px 0; */
  top: 157px;
  margin-left: 33px;
}

.linkHome > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform:scale(.88);
  z-index: -1;
  transition: .5s ease;
}

.linkHome > a:hover::after {
  transform: scale(0);
}

@media all and (max-device-width: 1024px) and (min-device-width: 770px) {
  .home {
    position: relative;
    bottom: 20%;
    width: 136%;
  }

  .hometext {
    color: #efaf00;
    position: relative;
    top: 2%;
  }

  .btnHome {
    position: relative;
    left: 3%;
    top: 25px;
  }

  .linkHome {
    position: relative;
    position: relative;
    top: 10%;
  }

  .image {
    height: 99vh;
    width: 36vw;
    position: relative;
    left: 35%;
  }

  .linkHome > a {
    top: 0px;
  }
}
