.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0%;
    background-color: #5f49b5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
  }
  
  .logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    position: relative;
    left: 2%;
    top: -4%;
    font-size: 395%;
  }
  
  .fa-car {
    margin-left: 0.2rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    position: relative;
    right: 3%;
  }
  
  .nav-links {
    text-decoration: none;
    color: #fff;
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }
  
  .nav-links i {
    padding-right: 10px;
  }
  
  .nav-links:hover {
    background-color: rgb(226, 89, 15);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .searchBar {
    position: relative;
    padding-right: 10px;
  }
  
  .text {
    color: white;
  }
  
  .login_btn {
    position: relative;
    right: 5%;
  }
  
  .nav__active {
    color: #f9a826;
  }
  
  .nav__item {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav__item:hover {
    color: #f9a826;
  }
  

.bar {
  position: initial;
  top: 0;
  height: 100px;
  background-color: crimson;
  padding: 2px 0;
  transition: all 0.3s ease;
}

.navSection {
  position: fixed;
  width: 100%;
  z-index: 5;
  margin-top: -17px;
}

.navSection > section > h1 {
  font-size: 55px;
  display: inline;
  color: white;
  font-weight: bold;
  position: relative;
  top: 24%;
  left: 22px;
  letter-spacing: 7px;
}

.navSection > section > nav > ul {
  position: absolute;
  right: 25px;
  bottom: -21px;
  top: 15%;
  margin: auto;
  height: 40px;
  font-size: 20px;
  list-style: none;
  text-decoration-line: none;
  font-family: "Crete Round", serif;
}

.navSection > section > nav > ul > li {
  display: inline;
  text-decoration-line: none;
  padding: 0 10px 0 10px;
}

.navSection > section > nav > ul > li > a {
  text-decoration-line: none;
  color: white;
}

.navSection > section > nav > ul > li.active a {
  color: #0089f2;
  box-shadow: inset 0 0 5px #0187f5, inset 0 0 10px #85c3fa,
    inset 0 0 15px #b6dbfc;
}

.logo {
  transition: color 0.4s ease;
  transform: rotate(90deg);
  letter-spacing: -3.5px;
}

.logo2 {
  color: #131313;
  transition: color 0.4s ease;
  animation-name: box;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
