.project {
  position: relative;
  color: crimson;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  top: 20%;
  font-family: "Crete Round", serif;
}

.projectTitle {
  position: relative;
  text-align: center;
}

.hotel {
    background: url(../assets/Project/hotel.jpg);
    background-size: cover;
    height: 515px;
    width: 75px;
    border-radius: 12%;
    overflow: hidden;
}

.shop {
    background: url(../assets/Project/shop.jpg);
    background-size: cover;
    height: 515px;
    width: 75px;
    border-radius: 12%;
    overflow: hidden;
}

.market {
    background: url(../assets/Project/bookshop.jpg);
    background-size: cover;
    height: 515px;
    width: 75px;
    border-radius: 12%;
    overflow: hidden;
}

.swiperProject {
    position: relative;
    top: 129px;
}

.section {
    transition: ease-out 0.3s;
}

.hotel:hover {
    cursor: pointer;
    /*background-color: #ba0b2e;*/
    transform: scale(1.05);
}

.shop:hover {
    cursor: pointer;
    /*background-color: #ba0b2e;*/
    transform: scale(1.05);
}

.market:hover {
    cursor: pointer;
    /*background-color: #ba0b2e;*/
    transform: scale(1.05);
}

