.project {
  position: relative;
  color: crimson;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  top: 20%;
  font-family: "Crete Round", serif;
}

.projectTitle {
  position: relative;
  text-align: center;
}
