.skil {
  position: relative;
  color: crimson;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
  top: 20%;
  font-family: "Crete Round", serif;
}

.skilTitle {
  position: relative;
  text-align: center;
}

.skilTitle {
  height: 387px;
  position: relative;
}

.divOne {
  left: 0;
  background-size: cover;
  padding-left: 19px;
  border-radius: 40px;
}

.divTwo {
  left: calc(100% / 4);
  background-size: cover;
  padding-left: 19px;
  border-radius: 40px;
}

.skills > div:nth-child(3) {
  left: calc((100% / 4) * 2);
  padding-left: 19px;
  background-size: cover;
  border-radius: 40px;
}

.skills > div:nth-child(4) {
  left: calc((100% / 4) * 3);
  background-size: cover;
  border-radius: 40px;
}

.skiltxt {
  color: white;
  padding-left: 136px;
}

.one {
  background: url(../assets/skils/333.png);
  background-size: cover;
  height: 500px;
  width: 100px;
  transition: ease-out 0.3s;
  box-shadow: rgb(251, 31, 31) 8px 6px 12px;
}

.two {
  background: url(../assets/skils//444.png);
  background-size: cover;
  height: 500px;
  width: 100px;
  transition: ease-out 0.3s;
  box-shadow: rgb(251, 31, 31) 8px 6px 12px;
}

.three {
  background: url(../assets/skils/555.png);
  background-size: cover;
  height: 500px;
  width: 100px;
  transition: ease-out 0.3s;
  box-shadow: rgb(251, 31, 31) 8px 6px 12px;
}

.four {
  background: url(../assets/skils/666.png);
  background-size: cover;
  height: 500px;
  width: 100px;
  transition: ease-out 0.3s;
  box-shadow: rgb(251, 31, 31) 8px 6px 12px;
}

.one:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.two:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.three:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.four:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.java {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: darkorange;
  position: relative;
  top: 90%;
}

.swipers {
  position: relative;
  top: -156px;
}
